@charset "UTF-8";
/* CSS Document */
.if{
	width:700px;
	height:530px;
	background-color: black;
}

.if img{
	width: 400px;
	margin-bottom: -10px;
	margin-top: 20px;
	margin-right: -75px;
	float: left;
	
	
	
}
.if p{
	float: left;
	color: white;
	margin-top: 300px;
	width: 195px;
	
	
	
}
h1{
	color:red;
	margin-bottom:-15px;
}

h2{
	color: grey;
	text-align: center;
	width: 500px;
	
}

.adobe{
	width: 700px;
	height: auto;
	
	
}
.adobe img{
	width: 125px;
	height:auto;
	float: right;
	margin-top: -30px;
	/*used a margin top to get the adobe image to align*/
}
.body{
	width: 360px;
}
h3{
	margin-left: 20px;
	margin-bottom: -15px;
	
	
}
